fastapi==0.89.1
uvicorn==0.20.0
python-multipart==0.0.5
nemo_toolkit[asr]
pydub==0.25.1
pyaudioconvert==0.0.5
pytest==7.2.1
httpx==0.23.3
websockets==10.4
pymongo==4.3.3
python-jose[cryptography]
passlib[bcrypt]